h1 {
	font-weight: bold;
}

h2{
	font-weight: bold;
}

h3{
	font-weight: bold;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}